// ====global configs=====
$font-stack: Helvetica, sans-serif;
$primary-color: #09f801;
$secundary-color: #808080;
$btn-color: #333;
$background: #272626;
* {
    padding: 0;
    margin: 0 0 15px;
}
body {
    font: 100% $font-stack;
    color: white;
    background-color: $background;
    line-height: 1.5;
}

// ========== header config =========
header {
    width: 100%;
    border-bottom: 1px dashed $primary-color;
    padding: 20px 0;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-shadow: $primary-color 0.1rem 0 0.2rem;
    color: $primary-color;
}

header h2 {
    font-size: 20px;
    padding-left: 70px;
    
    color: $secundary-color;
    letter-spacing: 0.1rem;
}
.topics {
    font-size: 25px;
    color: $primary-color;
    font-weight: bold;
    text-shadow: $primary-color 0.1rem 0 0.1rem;
}
//  main
#main {
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .10rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $btn-color;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($primary-color, 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
}
#main section {
    display: block;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: "👾";
    margin-right: 8px;
}


.bye {
    text-align: center;
}
